@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*------------------------------------------------------*/

/* HEADER */

body {
  font-family: "roboto", sans-serif;
}

header {
  background-color: #1f2937;
  padding: 20px 200px 150px;
}

.header-sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "roboto", sans-serif;
  margin: 0 0 70px 0;
}

.header-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

nav {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  font-weight: normal;
}

nav a:last-child {
  margin-right: 50px;
}

.header-sec2 {
  display: flex;
  align-items: center;
}

.main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.secondary-text {
  font-size: 20px;
  color: lightgray;
  margin: 20px 0;
}

.header-button {
  border-radius: 8px;
  background-color: #3882f6;
  font-size: 18px;
  border: none;
  margin: 10px 0;
  padding: 10px 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
}

/*------------------------------------------------------*/

/* CARDS */

.cards {
  padding: 20px 200px 150px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.box {
  border: 5px solid lightseagreen;
  border-radius: 15px;
  width: 170px;
  height: 170px;
}

.cards h1 {
  color: #1f2937;
  font-size: 36px;
  text-align: center;
  font-weight: 900;
  margin: 50px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.text-container p {
  width: 170px;
  height: 60px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #1f2937;
}

/*------------------------------------------------------*/

/*  QUOTE  */

.quote {
  background-color: #e5e7eb;
  padding: 100px 300px 100px;
}

.quote p {
  font-size: 30px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  text-align: left;
}

.quote p:last-child {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
  font-style: normal;
}

.action {
  padding: 100px 200px;
}

.action-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  padding: 40px 100px;
  border-radius: 8px;
}

.action-card-text h1 {
  color: white;
  font-size: 24px;
}

.action-card-text p {
  color: lightgray;
  font-size: 18px;
}

.action-card-button {
  border-radius: 8px;
  background-color: #3882f6;
  font-size: 15px;
  border: 2px solid white;
  padding: 8px 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
}

footer {
  text-align: center;
  background-color: #1f2937;
  padding: 30px 0;
}

footer p {
  color: white;
  font-size: 18px;
}
